<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvvmandmovieapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.MVVMandMovieApi">
        <activity
            android:name=".PostApp.ui2.commentActivity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".PostApp.ui2.postActivity.PostActivity"
            android:exported="false" />
        <activity
            android:name=".Movie.app.ui.detailsActivity.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Movie.app.ui.mainActivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>